.calculadora{
    display:block;
    margin: 0 auto;
    padding: 20px;
    background-color:rgb(240, 87, 87);
    width: 350px;
    height: 500px;
    border-radius: 25px;

}

.calculadora td button{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: block;
    width: 70px;
    height: 70px;
    font-size: 50px;


}

.cero{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: block;
    width: 70px;
    height: 70px;
    font-size: 50px;

}

.uno{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: block;
    width: 70px;
    height: 70px;
    font-size: 50px;

}
.dos{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: block;
    width: 70px;
    height: 70px;
    font-size: 50px;

}

.tres{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: block;
    width: 70px;
    height: 70px;
    font-size: 50px;

}
.cuatro{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: block;
    width: 70px;
    height: 70px;
    font-size: 50px;

}
.cinco{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: block;
    width: 70px;
    height: 70px;
    font-size: 50px;

}
.seis{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: block;
    width: 70px;
    height: 70px;
    font-size: 50px;

}
.siete{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: block;
    width: 70px;
    height: 70px;
    font-size: 50px;

}
.ocho{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: block;
    width: 70px;
    height: 70px;
    font-size: 50px;

}
.nueve{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: block;
    width: 70px;
    height: 70px;
    font-size: 50px;

}
.suma{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: block;
    width: 70px;
    height: 70px;
    font-size: 50px;

}
.resta{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: block;
    width: 70px;
    height: 70px;
    font-size: 50px;

}
.multiplicacion{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: block;
    width: 70px;
    height: 70px;
    font-size: 50px;

}
.division{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: block;
    width: 70px;
    height: 70px;
    font-size: 50px;

}
.igual{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: block;
    width: 70px;
    height: 70px;
    font-size: 50px;

}

#resultado{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display:block;
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    width: 300px;
    height: 100px;
    line-height: 100px;
    background-color: white;
    border-radius: 25px;
    overflow-y: scroll;
}
